* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: #D9CEC3;
}

.logolinks {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.content1img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.content1 {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px; 
}

.signup1 {
    color: white;
    background-color: cornflowerblue;
    height: auto;
    width: 100px;
}

.pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }

.text1 {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
 .Mountains {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .Flower {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .Snowy {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .Waterfalls {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .body1 {
    background-color: #F2E9D2;
    text-align: center;
 }