* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: #d1caba;
}

.logolinks {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.content1img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.content1 {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px; 
}

.signup1 {
    color: white;
    background-color: cornflowerblue;
    height: auto;
    width: 100px;
}

.body1 {
    background-color: #d8d1c2;
    text-align: center;
 }

.pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }

.text1 {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
 .Mountains {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .Flower {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .Snowy {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .Waterfalls {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .body2 {
    height: 400px;
    width: 100%;
    background-color: #e4dac6;  
    display: flex;
    justify-content: center;
    align-items: center;
 }

.text2 {
    font-size: 25px;
    text-align: center;
}

.body3 {
    height: 250px;
    background-color: #f0e4cb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messagesignup2 {
    border-radius: 10px;
    color: white;
    padding: 25px;
    background-color: hsl(224, 84%, 62%);
    display: flex;
    gap: 50px;
}

.signup2 {
    border: 1px solid white;
    width: 100px;
    color: white;
    background-color: hsl(224, 84%, 62%);
    margin-top: 10px;
}

footer {
    padding: 50px;
    height: 100px;
    width: 100%;
    background-color: #d1caba;
    text-align: center;
}